<!-- Base template to be used for displaying a list of entries with a form input or set of controls at the left.  Extension templates using lists should create each list entry as a width 4 column div so they cascade properly in the display row. -->

<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title>Salon Manager</title>
    </head>
    <body>
        <div class="container">
            <div class="well">
                <div class="bg-info">
                    <h1>Fancy Lad's Salon</h1>
                    <h4>Manager Portal</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% block controls %}
                    <h1>Test</h1>
                    {% endblock %}
                </div>
                <div class="col-md-8">
                    {% block list %}
                    <h1>another test</h1>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
